/* css styles */
.reference {
    font-size: small;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: white;

}

.logo {
    margin: 20px;
    /*max-height: 100px;*/
}

.spacer {
    height:50px
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    min-width: 300px;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*align-items: baseline;*/
}

.img-round {
    border-radius: 50%;
}